<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <header>
        <h1>My Asp.Net Core 8 MVC App</h1>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <h5>&copy; 2025 ABC</h5>
    </footer>


</body>
</html>
