
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @if(ViewBag.Error != null)
        {
            @ViewBag.Error
        }
    </div>
    <form method="post" asp-action="Login">
        <input type="text" name="username" 
            placeholder="Enter Username" />
        <input type="password" name="password" 
            placeholder="Enter Password" />
        <input type="submit" value="Login" />
    </form>
</body>
</html>
